/* Css reset */
*, *::before, *::after {
    box-sizing: border-box;
   }
   
   * {
    margin: 0;
   padding: 0;
   }
   
   body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
   }
   
   img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
   }
   
   input, button, textarea, select {
    font: inherit;
   }
   
   p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
   }

   button, a{
     cursor: pointer;
     }

   a{
       text-decoration: none;
   }
   
/* Variables */

:root {
    --main-text: #2F4F4F;
    --main-bg: #C0C0C0;
    --header-bg: #A9A9A9;
    --header-text: #FFFFFF;
    --sidebar-bg: #87CEEB;
    --sidebar-hover:#B0E0E6;
    --border-radius:0px;
    --shadow:0px;
  }